# macOS fichiers système
.DS_Store
._.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# Résultats et fichiers temporaires
results/
uploads/
static/uploads/

# Logs et fichiers de débogage
*.log
*.sqlite
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
